# Discord bot
TOKEN=
GUILD=

# Relic
RELIC_CHANNEL_ID=
RELIC_LINK_MESSAGE_ROLES=
RELIC_QRF_ROLE_ID=

# Alerts & panels
ALERT_CHANNEL_ID=
PANEL_CHANNEL_ID=

# Custom emoji (Discord snowflake ID)
SILVER_EMOJI_ID=